*
{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#ques1,#ques2,#ques3

{
    width: 70%;
    margin-left: 12% ;
    margin-right: 15% ;
    background-color:#2C3335 ;
    color: white;    
    padding: 30px;
    box-shadow: -2px 2px 10px black;
    border-radius: 80px;
    margin-top: 15px;
    border-top-left-radius:0;

}
label
{
    padding-right: 40px;
    font-size: x-large;
}
#crct1,#crct2,#crct3
{
    width:100%;
    padding: 10px;
    font-size: 30px;
    font-weight: 100;
    display: none;
}
button
{
    margin:40px 40%;
    width: 20%;
    background: none;
    height: 50px;
    outline: none;
    border: none;
    border: 3px solid #2C3335;
    border-radius: 30px;
    box-shadow: 2px 2px 10px black ;
    cursor: pointer;
    border-top-left-radius:0;

}
button:hover{
    box-shadow: 2px 2px 30px black ;
}
button:active
{
    cursor: grab;
}
h2
{
    text-align: center;
    border: black 2PX solid;
    width: 60%;
    margin: 0 20%;
    border-radius: 20px;
    border-top-left-radius:0;

}
input
{
    height: 30px;
    width: 30px;
}

